// font
$font-primary: "Alata", sans-serif;
$font-secondary: "Josefin Sans", sans-serif;
// Colors
$white: hsl(0, 0%, 100%);

// margins
$theme-margin: 200px;

$black: hsl(0, 0%, 0%);
$dark-gray: hsl(0, 0%, 55%);
$very-dark-gray: hsl(0, 0%, 41%);
